<ion-header [translucent]="true">
  <ion-toolbar id="toolbar">
    <ion-grid>
      <ion-row class="titulo">
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-title>
            Chateando...
          </ion-title>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row class="usuario">
        <ion-col>
          <ion-input type="text" placeholder="¿Quién eres?" [(ngModel)]="user"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let message of messages">
    <ion-card-header ><b>{{message.user}}:</b> </ion-card-header>

    <ion-card-content>{{message.message}}</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-input type="text" placeholder="Escribe algo..." [(ngModel)]="message"></ion-input>
      <ion-button (click)="enviar()">
        Enviar
        <ion-icon name="send" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>