<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chateando...

      <ion-input
        type="text"
        placeholder="¿Quién eres?"
        [(ngModel)]="user"
      ></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let message of messages">
    <ion-card-header>{{message.user}} dice:</ion-card-header>

    <ion-card-content>{{message.message}}</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      type="text"
      placeholder="Escribe algo..."
      [(ngModel)]="message"
    ></ion-input>

    <ion-buttons>
      <ion-button (click)="enviar()">
        Enviar

        <ion-icon name="send"></ion-icon>
      </ion-button>
      <ion-button (click)="cantidad()">
        Contar

        <ion-icon name="plus"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>