#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-card {
  background-color:lightgrey;
  margin-bottom: 15px;
  border-radius: 20px;
}
ion-card-header{
  color: WHITE;
  background-color: rgb(50, 139, 202);
  padding: 5px;
  font-size: large;
  text-indent: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

ion-card-content{
  color: black;
  margin-top: 10px;
}


.titulo{
  border-radius: 10px;
  background-color:#118BCA;
  color:white
}

.usuario{
  text-anchor: start;
}

.icon{
  margin-left: 10px;
}